.text-center {
	text-align: center;
}

.container-center {
	justify-content: center;
}

.main-container {
	padding: 20px 0;
	@media (min-width: 768px) {
		padding: 50px 0;
	}
}

p {
	font-weight: 200;
}

.linkedin-icon {
	font-size: 32px;
	display: flex;
}

dialog {
	overflow: hidden;
}
