@use "sass:color";

// amvs-writing theme colors
$white: #FFFFFF;
$background-color: #F9EEE6; // Orangesicle
$header-background-color: #{color.scale($background-color, $lightness: -10%)}; // Orangesicle
$text-color: #2F2F2F; // Charcoal
$primary: #A65740; 
$primary-hover: #843520;
$secondary: #7B8D73; // Sage Green
$secondary-hover: #596B51;

// img dir
$img-dir: '../amvs-writing/';

[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  color-scheme: light;
  --pico-background-color: #{$background-color};
  --pico-color: #{$text-color};
  --pico-text-selection-color: #{rgba($text-color, 0.25)};
  --pico-muted-color: #{$secondary};
  --pico-muted-border-color: #{color.scale($secondary, $lightness: +20%)};
  --pico-primary: #{$primary};
  --pico-primary-background: #{$primary};
  --pico-primary-underline: rgba(#{$primary}, 0.5);
  --pico-primary-hover: #{$primary-hover};
  --pico-primary-hover-background: #{color.scale($primary-hover, $lightness: -20%)};
  --pico-primary-focus: rgba(#{$primary-hover}, 0.5);
  --pico-primary-inverse: $white;
  --pico-secondary: #{$secondary};
  --pico-secondary-background: #{$secondary};
  --pico-secondary-underline: rgba(#{$secondary}, 0.5);
  --pico-secondary-hover: #{$secondary-hover};
  --pico-secondary-hover-background: #{color.scale($secondary-hover, $lightness: -20%)};
  --pico-secondary-focus: rgba(#{$secondary-hover}, 0.5);
  --pico-secondary-inverse: $white;
  --pico-contrast: #181c25;
  --pico-contrast-background: #181c25;
  --pico-contrast-underline: rgba(24, 28, 37, 0.5);
  --pico-contrast-hover: #000;
  --pico-contrast-hover-background: #000;
  --pico-contrast-focus: rgba(93, 107, 137, 0.25);
  --pico-contrast-inverse: $white;
  --pico-h1-color: #{$text-color};
  --pico-h2-color: #{$text-color};
  --pico-h3-color: #{$text-color};
  --pico-h4-color: #{$text-color};
  --pico-h5-color: #{$text-color};
  --pico-h6-color: #{$text-color};
  --pico-mark-background-color: rgb(252.5, 230.5, 191.5);
  --pico-mark-color: #0f1114;
  --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
  --pico-code-background-color: rgb(243, 244.5, 246.75);
  --pico-code-color: #{$secondary};
  --pico-form-element-background-color: #{$background-color};
  --pico-form-element-border-color: #{$secondary-hover};
  --pico-form-element-color: #{$text-color};
  --pico-form-element-active-background-color: #{color.scale($background-color, $lightness: +20%)};;
  --pico-switch-background-color: #bfc7d9;
  --pico-switch-color: $white;
  --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --pico-range-border-color: #dfe3eb;
  --pico-range-active-border-color: #bfc7d9;
  --pico-modal-overlay-background-color: rgba(232, 234, 237, 0.75);
  --pico-card-sectioning-background-color: #{$background-color};
  
}
