@use "../utilities/variables";

.site-header {
	padding: 10px 0;
	border-bottom: 1px solid variables.$secondary-hover;
	background: variables.$secondary;

	.custom-logo-link {
		max-width: 320px;
	}
	
	.site-title {
		margin-bottom: 0;
		align-items: center;
    display: flex;
	}

	.nav-container {
		display: flex;
		align-items: center;
		
		.main-menu {
			display: inline-flex;

			a {
				color: variables.$text-color;
				font-weight: 500;
			}
		}

		button {
			margin: 0 0 0 20px;
			background-color: variables.$primary;
			font-weight: 500;

			&:active,
			&:focus,
			&:hover {
				background-color: variables.$primary-hover;
			}
		}
	}	
}
