@use "../utilities/variables";

.amvs-portfolio-container {
	.portfolio-list-filter {
		a {
			background-color: variables.$primary;
			font-weight: 500;
			color: variables.$background-color;
			margin: 0;
			font-size: 16px;
			min-width: 130px;
    	text-align: center;

			&:active,
			&:focus,
			&:hover {
				background-color: variables.$primary-hover;
				text-decoration: none;
			}
		}
	}

	.portfolio-list-grid {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;
		width: 100%;

		@media (min-width: 769px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	article {
		height: 100%;
		margin: 0;
		background: transparent;

		&.grid-item {
			width: 100%;
			height: 320px;
			background: transparent;
			box-shadow: none;

			@media (min-width: 768px) {
				width: calc(100% / 2);
			}

			@media (min-width: 1024px) {
				width: calc(100% / 3);
			}
		}

		header {
			font-weight: 700;
		}

		a {
			background: variables.$secondary;
			color: variables.$text-color;
			width: 100%;
			display: block;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 20px;
			flex-direction: column;
			gap: 10px;
			padding: 30px;
    	text-align: center;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				background: variables.$secondary-hover;
			}
		}
	}
}
