@use "../../utilities/variables";

.amvs-portfolio-container {
	.portfolio-list-filter {
		margin: 40px var(--pico-block-spacing-horizontal) 20px;

		nav {
			background: variables.$primary;
			border-radius: 20px;
			max-width: 470px;
			padding: 20px;
			@media (min-width: 768px) {
				max-width: 660px;
			}

			@media (min-width: 1024px) {
				max-width: 910px;
			}

			@media (min-width: 1280px) {
				max-width: 1160px;
			}

			ul {
				display: block;
				text-align: center;

				li {
					padding: 10px;

					&:first-of-type {
						display: block;
						@media (min-width: 768px) {
							display: inline-block;
						}
					}
				}
			}

			span {
				color: variables.$background-color;
			}
		}

		a {
			font-weight: 500;
			color: variables.$background-color;
			margin: 0;
			font-size: 16px;
    	text-align: center;
			text-decoration: underline;
			padding: 0;

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}

	.portfolio-list-grid {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;
		width: 100%;

		@media (min-width: 768px) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	article {
		height: 100%;
		margin: 0;
		background: transparent;

		&.grid-item {
			width: 100%;
			height: 260px;
			background: transparent;
			box-shadow: none;
			@media (min-width: 768px) {
				width: calc(100% / 2);
				height: 320px;
			}

			@media (min-width: 1024px) {
				width: calc(100% / 3);
			}
		}

		header {
			font-weight: 700;
		}

		a {
			background: variables.$primary;
			color: variables.$background-color;
			width: 100%;
			display: block;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 20px;
			flex-direction: column;
			gap: 10px;
			padding: 30px;
    	text-align: center;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				background: variables.$primary-hover;
			}
		}
	}
}
