@use "../utilities/variables";

.contact-form-container {
	background: variables.$secondary-background-color;

	header {
		background: variables.$secondary-background-color;
		align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
		border-color: variables.$secondary;

		button[rel=prev] {
			background-size: 2rem;
			background-image: url( variables.$img-dir + 'img/xmark-solid-full.svg' );
		}

		h2 {
			padding-right: 40px;
		}
	}

	footer {
		button {
			color: variables.$primary-background-color;
		}
	}
}