@use "../utilities/variables";

.contact-form-container {
	background: variables.$header-background-color;

	header {
		background: variables.$header-background-color;
		align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;

		button[rel=prev] {
			background-size: 2rem;
			background-image: url( variables.$img-dir + 'img/xmark-solid-full.svg' );

			// &:active,
			// &:focus,
			// &:hover {
			// 	opacity: .6;
			// }
		}

		h2 {
			padding-right: 40px;
		}
	}

	footer {
		button {
			color: variables.$background-color;
		}
	}
}